<!-- views/email.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body class="container">

    <table cellspacing="0" cellpadding="10" border="0" width="400px" align="center" style="font-family: Arial, sans-serif; font-size: 11px; color: #222; background: #fff;">
        <tbody>
            <tr>
                <td style="width: 5px;background: #09AEEF;"></td>
                <td style="width: 390px;font-family: Arial, sans-serif;background: #09AEEF;font-size: 14px;color: #fff;">Hi
                    <%= name %>!</td>
                <td style="width: 5px;background: #09AEEF;"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="font-size: 22px;color: #677B87;">Welcome to API Design</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #677B87;margin: 0px;padding: 0px;"></td>
                <td style="border-bottom: 1px solid #677B87;margin: 0px;padding: 0px;"></td>
                <td style="border-bottom: 1px solid #677B87;margin: 0px;padding: 0px;"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center;color: #677B87;font-size: 16px;margin: 0px;padding: 0px;">Please click the following link to verify your account</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center;color: #677B87;font-size: 16px;margin: 0px;padding: 0px;"><a href="<%= verifyingURL %>" style="
    color: #09AEEF;
">Click Here</a></td>
                <td></td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #677B87;margin: 0px;padding: 0px;"></td>
                <td style="border-bottom: 1px solid #677B87;margin: 0px;padding: 0px;"></td>
                <td style="border-bottom: 1px solid #677B87;margin: 0px;padding: 0px;"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td></td>
                <td style="font-size: 16px;color: #677B87;">Kind Regards</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="font-size: 12px;color: #677B87;">API Design - CA Technologies</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</body>

</html>